
body {
    font-family: Arial;
    padding: 20px;
    background: darkslategray;
    
  }
  
  /* Header/Blog Title */
#header {
  position: relative;
  overflow:visible;
  margin: 0 auto;
  width: 1100px;
}
  #header h1 a{
    position: absolute;
    display: block;
    width: 1100px;
    height: 213px;
    background-color: dimgray;
    text-indent: -9999px;
    
  }
    #header h2 a:hover{
      background-color: deepskyblue;
    } 
/* navigation bar settings */
  #header ul#nav{
    float: left;
    margin-top: 213px;
    margin-left: 24px;
    list-style: none;
    z-index: 0;  }
    #header ul#nav li{
      float: left;
      margin-left: 45px;
    }
      #header ul#nav li:first-child{
        margin: 0;
      }
      #header ul#nav li a {
        display: block;
        font: 13px Arial;
        letter-spacing: 2px;
        color:darkcyan;      }
        #header ul#nav li a:hover{
          color: cyan;
          background-color: darkolivegreen;
        } 
        /* end of navigation bar settings */
  /* subscribe bar settings */
  #header ul#social{
    float: right;
    margin:213px 24px 0 0;
    list-style: none;
  }
    #header ul#social li{
      float:Left;
      margin-right: 45px;
    }
      #header ul#social li a{
        display: block;
        font: 13px Arial;
        letter-spacing: 2px;
        color: darkslateblue;

      }
        #header ul#social li a:hover{
          color: deeppink;
          background-color: darkturquoise;
        } 
 /*Create two unequal columns that floats next to each other */
  /* Left column */
  #content {
    width: 1000px;
    float: left;
    margin: -240px auto 0 auto;
    padding: 280px 22px 0 22px;

  }
    #content .main{
      width: 684px;
      float: left;
    }
      #content .main .post{
        position: relative;
        margin-bottom: 60px;
        padding: 0 0 66px 0;
        overflow: hidden;
      }
        #content .main .post h2{
          font-family: monospace;
          float:left;
          margin: 0 0 10px;
          padding: 0 0 20px;

        }
        #content .main .post .subtitle{
          position: relative;
          left: -75px;
          padding: 10px 0 0 0;
        }
        #content .main .post p.date{
          margin: -5px 0 0 0;        
          float: right;
          padding: 4px 7px;
          text-align: center;
          font: bold 20px Helvetica;
        }
          #content .main .post p.date span{
            font: normal 20px Helvetica;
            display: block;
            margin: -5px 0 0 0 ;
          }
        #content .main .post .post-content {
          clear: both;
        }
  
  #content .main .pagination{
    margin:  0 0 60px 0;
    overflow: hidden;

  }
  #content .main .pagination p{
    margin: 0;

  }
  #content .main .pagination p a{
    display: block;
    width: 102px;
    height: 33px;
    overflow: hidden;
    font-size: 16px;
  }
    #content .main .pagination p.prev a{
      float: left;
      padding: 14px 0 0 46px;

    }
    #content .main .pagination p.next a{
      float: right;
      text-align: right;
      padding: 14px 46px 0 0 ;
    
    }
  /* Right column */
  #side {
    float: right;
    width: 200px;
    padding-left: 20px;
    
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    
    
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }